@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&family=Open+Sans:ital,wght@0,600;0,700;1,300;1,700&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
body {
	 font-family: 'Kiwi Maru', serif;
	font-size: 18px;
	margin: 0px;
}
h1,h2,h3{
	font-family:'Open Sans', sans-serif;
	font-weight:'bold';
}
a {
  text-decoration: none;
}
